body {
    background-color: bisque; /*cor de fundo*/ 
}

#container {
    display:flex ;
}

.cartao {
    margin: 1rem 1rem;
    background-color: aqua;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% -6rem);
}


footer {
    background-color: black; /*cor de fundo do rodapé*/ 
    color: white; /*cor da fonte*/
    bottom:0; /* para fixar o rodapé na parte inferior da página*/
    position:fixed; /*posição fixa*/
    width:100%; /*largura*/
    height:2rem;/*altura*/
}

footer p{
    text-align: center; /*texto centralizado*/
    font-size: 0.6rem; /*tamanho da fonte*/
    margin-top: 0,5rem; /* margem superior*/
}