body {
    background-color: bisque;
}
/*espaçamento entre cartões*/
#container {
    display:flex ;/* podemos manipular todos os elementos filhos */
}

.cartao {
    margin: 1rem 1rem; /* tamanho da margem*/
    background-color: aqua; /* cor de fundo do cartão*/
    height: 20rem; /*largura*/
    flex-grow: 1; /*para que a disposição de todos os cartões seja igual na tela*/
    flex-basis: calc(33% -6rem); /*Para dividir o espaço de tela em três partes*/
}

.cartao__conteudo {
    text-align: center; /*alinhamento do texto*/
    height: 100%; /*altura*/
}
/**/
footer {
    background-color: black;
    color: white;
    bottom:0;
    position:fixed;
    width:100%;
    height:2rem;
}

footer p{
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0,5rem;
}

